<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logos"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logos"
        android:supportsRtl="true"
        android:theme="@style/Theme.Barter"
        tools:targetApi="31">
        <activity
            android:name=".help.HelpActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".verify.GovtIDActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:theme="@style/Theme.Barter.NoActionBar"
                android:value="" />
        </activity>
        <activity
            android:name=".home.ui.users.UpdateActivity"
            android:exported="false"
            android:label="@string/title_activity_update"
            android:theme="@style/Theme.Barter.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".safetytip.SafetyTipActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".termandcon.TermAConActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".notification.NotificationActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".verify.VerifyEmail"
            android:exported="false"
            android:theme="@style/Theme.Barter.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".profile.UserProfile"
            android:exported="false"
            android:theme="@style/Theme.Barter.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Barter.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".payment.SuccessActivity"
            android:exported="false"
            android:theme="@style/Theme.Barter.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".payment.PaymentActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".home.ui.categories.CategoryActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".chat.ChatActivity"
            android:exported="false" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="trade.TradeListActivity" />

        <activity
            android:name=".trade.TradeListActivity"
            android:exported="false" />
        <activity
            android:name=".chat.MessageActivity"
            android:exported="false" />
        <activity
            android:name=".productDetails.ProductDetails"
            android:exported="false"
            android:theme="@style/Theme.Barter.NoActionBar" />
        <activity
            android:name=".home.ui.setting.SettingFragment"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".home.Home"
            android:exported="false"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".register.Register"
            android:exported="false"
            android:label="@string/action_sign_in"
            android:theme="@style/Theme.Barter.NoActionBar" />
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Barter.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>